<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Options
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>Select what sources I want to search from:</ion-col>
        <ion-col><ion-checkbox [(ngModel)]="customSources" (ionChange)=selectCustomSources()></ion-checkbox></ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="customSources">      
      <ion-button (click)="saveToString(setCustomSites(sourceList))">Confirm
      Changes</ion-button>
      <ion-button (click)="getCustomSites(searchList)">See Site List</ion-button>

    <ion-list *ngFor="let site of sites">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>{{  site.name  }}</h2>
          <h3 style="text-transform: capitalize;">{{  site.category  }}</h3>
          <p>{{  site.description  }}</p>
        </ion-label>
        <ion-checkbox slot="end" (ionChange)=putIntoArray(site.id)></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>



