<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <h1>App Details</h1>
      <p>JustNews is a simple mobile news app, made to deliver relevant news articles sourced from
      all over. Developed as a project for an enterepenurship class, it features
      custom searching capability, and several built-in topic search tabs.
      </p>

      <h1>About the Developer</h1>
        <p>
          JustNews was built and programmed by Cody Dunkley, a senior at
          Louisiana State University. Hobbies include gaming, writing, and sleeping.   
        </p>

      <h1>Credits</h1>
        <p>JustNews owes it's creation and thanks to several sources, listed below: </p>
          <ul style="list-style-type:none;">
              <li>JustNews is powered by an API sourced from NewsAPI.org.</li>

              <li>The creators of the Ionic Framework for providing an easy-to-use app development platform.</li>

              <li>My instructor, who provided the groundwork and understanding to start development.</li>
          </ul>
    </ion-content>
