<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      News
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)"> 
        <ion-icon name="search"></ion-icon> 
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment scrollable>
    <ion-buttons>
      <ion-button (click)=getNewsWithButton(setValue(3))>Breaking</ion-button>
      <ion-button (click)=getNewsWithButton(setValue(0))>Buisness</ion-button>
      <ion-button (click)=getNewsWithButton(setValue(1))>Entertainment</ion-button>
      <ion-button (click)=getNewsWithButton(setValue(2))>Health</ion-button>
      <ion-button (click)=getNewsWithButton(setValue(4))>Politics</ion-button>
      <ion-button (click)=getNewsWithButton(setValue(5))>Sports</ion-button>
      <ion-button (click)=getNewsWithButton(setValue(6))>Tech</ion-button>
    </ion-buttons>
  </ion-segment>
</ion-toolbar>

  <ion-content>
    <ion-card button = 'true' (click)=openNative(item.url) class="welcome-card" *ngFor="let item of newsService.newsReports">
      <img src="{{ item.urlToImage }}" alt="" />
      <ion-card-header>
        <ion-card-subtitle>{{ item.source.name }}</ion-card-subtitle>
        <ion-card-title>{{ item.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ item.description }}</p>
      </ion-card-content>
    </ion-card>

</ion-content>